*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.heading{
    
    position: relative;
    text-align: center;
}

.heading::after{
    content: '';
    height: 4px;
    display: block;
    position: absolute;
    left: 45%;
    background-color: rgb(113, 155, 245);
    width: 120px;
}
/* .heading::before{
    background-color: lightblue;
    width: 100%;
    content: '';
    height: 100%;
    display: block;
    position: absolute;
    */
    
}
